@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color: #080808;
  --orange: #FFA217;
  --blue: #000AFF;
  --green: #2AB090;
}

body {
  font-family: "IBM Plex Mono";
  color: #9C9C9C;
  font-weight: 400;
  font-size: 14px;
}

.header {
  background: var(--color);
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 95px;
  border-radius: 0px 0px 8px 8px;
}

.header_container {
  background: #1B1B1B;
  padding-top: 24px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
}

.menu li {
  list-style-type: none;
  margin-right: 70px;
}

.menu a{
  text-decoration: none;
  color: #9C9C9C;
}

.menu li:last-child {
  margin-right: 0px;
}

.menu ul {
  display: flex;
}

.icons img {
  margin-right: 25px;
}

.icons img:last-child {
  margin-right: 0;
}

.portfolio {
  padding-top: 80px;
  padding-bottom: 60px;
  background: var(--color);
}

.profile_wrapper {
  display: flex;
}

.portfolio_column {
  max-width: 492px;
  margin-right: 70px;
}

.name {
  font-size: 44px;
  font-weight: 800;
  font-family: "Raleway";
  color: #FFF;
  margin-top: 60px;
  margin-bottom: 20px;
}

.name:hover {
  color: greenyellow;
  box-shadow: inset 0 0 0 0px greenyellow;
}

.text {
  margin-bottom: 30px;
  line-height: 1.71;
  letter-spacing: 0.01em;
}

.button {
  padding: 21px 64px;
  background: #3F8E00;
  border: 1px solid #62BA1B;
  box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
  border-radius: 4px;
  color: #FFF;
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 16px;
}


.button:hover {
  animation: bounce 1s infinite;
}

@keyframes bounce {

  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.photo>img {
  border-radius: 50%;
}

.portfolio .container {
  display: flex;
  flex-direction: column;
}

.footer_title {
  color: #FFF;
  margin-bottom: 20px;
}

.companies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.companies img {
  border: 1px solid #1B1B1B;
  border-radius: 6px;
  padding: 13px 36px;
}

.case_studies {
  padding: 80px 0;
}

.case_studies .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards_wrapper {
  margin-top: 60px;
  width: 100%;
}

.card {
  display: flex;
  justify-content: space-between;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .card-text {
  padding-left: 25px;
}

.title {
  color: var(--color);
  font-weight: 800;
  font-size: 34px;
  font-family: "Raleway";
}

.before_title {
  font-weight: 700;
  font-size: 12px;
  border-radius: 60px;
  padding: 0 10px;
}

.before_title_orange {
  color: var(--orange);
  background: #FFF6E9;
}

.before_title_blue {
  color: var(--blue);
  background: #D0E6FF;
}

.before_title_green {
  color: var(--green);
  background: #E0FFF8;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-text h3 {
  color: var(--color);
  font-weight: 800;
  font-size: 24px;
  font-family: "Raleway";
  margin-top: 20px;
}

.card-text>p {
  margin-top: 10px;
}


.card_button {
  color: #FFF;
  box-shadow: 0px 8px 30px rgba(42, 176, 144, 0.1);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  margin-top: 50px;
  padding: 10px 25px;
}

.card_button_orange {
  background: var(--orange);
}

.card_button_blue {
  background: var(--blue);
}

.card_button_green {
  background: var(--green);
}

.case_studies .card+.card {
  margin-top: 80px;
}

.card_image {
  border-radius: 6px;
}

@media screen and (max-width:1100px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width:900px) {
  .menu li {
    margin-right: 40px;
    text-align: center;
  }

  .companies {
    justify-content: center;
  }

  .card_image {
    width: 400px;
    object-fit: contain;
  }

  .card-text {
    padding-top: 10px;
  }
}

@media screen and (max-width:810px) {
  .portfolio_column .button {
    padding: 21px 45px;
  }

  .portfolio_column {
    margin-right: 15px;
  }

  .card_image {
    width: 350px;
  }

  .card_button {
    margin-top: 20px;
  }
}

@media screen and (max-width:760px) {
  .menu li {
    margin-right: 20px;
  }

  .photo img {
    width: 300px;
  }

  .profile_wrapper {
    margin-bottom: 10px;
  }

}

@media screen and (max-width:710px) {
  .menu li {
    margin-right: 10px;
  }

  .photo img {
    width: 250px;
  }

  .profile_wrapper {
    align-items: center;
  }

  .card_image {
    width: 325px;
  }

  .card-text h3 {
    margin-top: 10px;
  }

  .card_button {
    margin-top: 10px;
  }

  .portfolio_column .button {
    padding: 15px 20px;
  }
}

@media screen and (max-width:640px) {
  .cards_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card{
    flex-direction: column-reverse;
    align-items: center;
  }

  .card-text{
    padding-left: 30px;
  }
  
  .profile_wrapper{
    flex-direction: column-reverse;
  }

  .header_container{
    flex-direction: column;
    align-items: center;
    gap: 10px 10px;
  }
  
  .footer_title{
    text-align: center;
  }

  .text{
    margin-bottom: 10px;
  }

  .portfolio_column{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width:400px) {
  .card_image{
    width: 270px;
  }

  .card-text{
    max-width: 320px;
  }

  .menu li{
    font-size: 12px;
  }

  .portfolio_column{
    margin: 0;
  }

  .name{
    font-size: 30px;
  }
} 

.reviews{
  background-color: var(--color);
  padding: 80px 0 60px 0;
}

.reviews_block{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: center;
  gap: 10px;
}

.reviews .title{
  color: #FFF;
}

.title_page {
  text-align: center;
  max-width: 570px;
}

.title_page > p{
  margin-top: 10px;
}


.reviews .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review_block{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 445px;
  border-radius: 6px;
}

.review_block::after {
  content: '"';
  position: absolute;
  top: -20px;
  left: 30px;
  font-size: 75px;
  font-family: serif;
  color: #FFF;
  line-height: 1;
}

.review_block::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 6px;
  padding: 1px;
  background: linear-gradient(
    90deg,
    rgba(72, 72, 72, 1) 0%,
    rgba(27, 27, 27, 1) 100%
  );
  pointer-events: none;
  /* Необходимо, чтобы связать border-radius и border-image */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.review_text{
  margin: 30px 30px;
  font-weight: 600;
}

.review_author{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.review_author img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 30px;
}

.review_author p{
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
}

.recent_work{
  padding: 80px 0 60px 0;
}

.recent_work .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work_examples{
  display: flex;
  
  margin-top: 60px;
}

.work_table img{
  border-radius: 6px;
}

.work_table > h3{
  color: var(--color);
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 800;
  margin-top: 40px;
}

.work_table p{
  margin: 20px 0;
}

.info_button{
  font-family: "IMB Plex Mono";
  padding: 10px 24px;
  color: #FFF;
  background: #3F8E00;
  border: 1px solid #62BA1B;
  box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.3);
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
}

